#####################################################################
#      Imports
#####################################################################

[include mainsail.cfg]
#[include sensorless.cfg]

#####################################################################
#      MCUs
#####################################################################

[mcu]                                      ; BTT Manta M5P
canbus_uuid: 606c134d8f35

[mcu toolhead]                             ; BTT EBB36 V1.2
canbus_uuid: c25822225c3d

[mcu host]                                 ; BTT CB2
serial: /tmp/klipper_host_mcu

#####################################################################
#      Printer
#####################################################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 15000
max_z_velocity: 25
max_z_accel: 45
square_corner_velocity: 6

#####################################################################
#      Display
#####################################################################

[respond]
default_type: echo
default_prefix:

[neopixel light_left]
pin: PC11
chain_count: 9
color_order: GRB
initial_RED: 0.01
initial_GREEN: 0.01
initial_BLUE: 0.01

[neopixel light_right]
pin: PC14
chain_count: 9
color_order: GRB
initial_RED: 0.01
initial_GREEN: 0.01
initial_BLUE: 0.01

#####################################################################
#      ADXL
#####################################################################

[adxl345]
cs_pin: toolhead: PB12
spi_software_sclk_pin: toolhead: PB10
spi_software_mosi_pin: toolhead: PB11
spi_software_miso_pin: toolhead: PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 100
probe_points:
    60,60,3

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 80.2
shaper_type_y = mzv
shaper_freq_y = 48.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
# M1
enable_pin: !PA15
step_pin: PC8
dir_pin: PC9
endstop_pin: tmc2209_stepper_x:virtual_endstop
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200 
position_min: -13
position_endstop: -13
position_max: 131
homing_speed: 20                                                    
homing_retract_dist: 15
homing_positive_dir: false

[stepper_y]
# M2
enable_pin: !PA13
step_pin: PA10
dir_pin: PA14
endstop_pin: tmc2209_stepper_y:virtual_endstop
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200 
position_min: 0
position_endstop: 126
position_max: 126
homing_speed: 20                                                    
homing_retract_dist: 15
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PD9
diag_pin: PD3
uart_address: 0
interpolate: False
run_current: 1.1
home_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 30

[tmc2209 stepper_y]
uart_pin: PD8
diag_pin: PD2
uart_address: 0
interpolate: False
run_current: 1.1
home_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 25

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
# M3
enable_pin: !PA9
step_pin: PC6
dir_pin: PC7                                                     
rotation_distance: 32                                          
microsteps: 64
gear_ratio: 3:1
endstop_pin: probe:z_virtual_endstop
position_max: 175
position_min: -4
homing_speed: 5
second_homing_speed: 1
homing_retract_dist: 3.0

[stepper_z1]
# M4
enable_pin: !PA8
step_pin: PB12
dir_pin: !PB11
rotation_distance: 32                                                
microsteps: 64
gear_ratio: 3:1

[stepper_z2]
# M5
enable_pin: !PC4
step_pin: PB0
dir_pin: !PB1  
rotation_distance: 32                                                
microsteps: 64
gear_ratio: 3:1

[tmc2209 stepper_z]
uart_pin: PB10
uart_address: 0
interpolate: True
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PB2
uart_address: 0
interpolate: True
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 999999

[tmc2209 stepper_z2]
uart_pin: PA6
uart_address: 0
interpolate: True
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: toolhead: PD0
dir_pin: toolhead: PD1                                                      
enable_pin: !toolhead: PD2
heater_pin: toolhead: PB13
sensor_pin: toolhead: PA3
full_steps_per_rotation: 200                                       
rotation_distance: 5.816                                              
microsteps: 32
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: ATC Semitec 104NT-4-R025H42G                          
control: pid                                                        
pid_Kp: 28.182
pid_Ki: 1.978
pid_Kd: 100.397
min_temp: 10
max_temp: 300
min_extrude_temp: 170
max_extrude_only_distance: 150
max_extrude_cross_section: 5
pressure_advance: 0.034 #0.00365                                              
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: toolhead: PA15
uart_address: 0
interpolate: True
run_current: 0.35
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA5
sensor_type: NTC 100K MGB18-104F39050L32                             
sensor_pin: PA0
smooth_time: 3.0
min_temp: 0
max_temp: 115
control: pid                                                        
pid_kp: 68.453
pid_ki: 2.749
pid_kd: 426.122

#####################################################################
#	Thermistor definitions
#####################################################################

[thermistor Trianglelab NTC100K B3950]
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

[thermistor NTCM-10K-B3380]
temperature1: 10
resistance1: 22196
temperature2: 25
resistance2: 10000
temperature3: 60
resistance3: 3027

#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
pin: toolhead: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 45.0

[fan]
pin: toolhead: PA1
max_power: 1.0
kick_start_time: 0.5                                                
off_below: 0.13
cycle_time: 0.010

#####################################################################
#	Probe + Bed
#####################################################################

[dockable_probe]
pin: toolhead: PB7
z_offset: 14.3
x_offset: -1.0 #-2.5
y_offset: 24.6 #23.5
approach_position: 34, 110
dock_position: 34, 126
detach_position: 50,126
check_open_attach: True
speed: 15
lift_speed: 40
samples: 3
samples_result: median
sample_retract_dist: 1.5
samples_tolerance: 0.005000
samples_tolerance_retries: 10
drop_first_result: True

[safe_z_home]
home_xy_position: 60,60
z_hop: 10

[bed_mesh]
mesh_min: 4, 26
mesh_max: 116, 116
speed: 150
horizontal_move_z: 8
probe_count: 5,5 #5,5
move_check_distance: 3
algorithm: lagrange
fade_start: 1
fade_end: 10
fade_target: 0
split_delta_z: 0.0125
mesh_pps: 2,2

[z_tilt]
z_positions:
    -22.6, -16.4
    60, 151.3
    142.6, -16.4
points:
    4, 0
    59, 90
    116, 0
speed: 150
horizontal_move_z: 20
retries: 4
retry_tolerance: 0.005000

#####################################################################
#	Other Sensors
#####################################################################

[temperature_sensor MCU_Temp]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 10
max_temp: 80
gcode_id: mcu_temp

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: toolhead
min_temp: 10
max_temp: 80
gcode_id: toolhead_temp

[temperature_sensor Host_Temp]
sensor_type: temperature_host
min_temp: 10
max_temp: 80
gcode_id: host_temp

[temperature_sensor Enclosure]
sensor_type: BME280
i2c_mcu: host
i2c_address: 119
i2c_bus: i2c.4
#i2c_software_scl_pin: gpio10
#i2c_software_sda_pin: gpio11
min_temp: -10

[temperature_sensor Enclosure_Lower]
sensor_type: NTCM-10K-B3380
sensor_pin: PA2
min_temp: -10

#####################################################################
#      Other
#####################################################################

[idle_timeout]
timeout: 60
gcode:
#    SET_LED LED=lights RED=0.00 GREEN=0.00 BLUE=0.00

#[gcode_shell_command plot_graph]
#command: bash /home/pi/klipper_config/scripts/plot_graphs.sh
#timeout: 500.0
#verbose: True
