[gcode_macro _HOME_X]
gcode:
    # Move away from endstop
    SET_KINEMATIC_POSITION x=10
    G91
    G4 P1000

    G90
    
    # Home
    G28 X

    # Move away from endstop
    G91
    G1 X+15 F1200
    G90
    
[gcode_macro _HOME_Y]
gcode:
    # Move away from endstop
    SET_KINEMATIC_POSITION y=20
    G91
    G4 P1000
    G90

    # Home
    G28 Y

    # Move away from endstop
    G91
    G1 Y-15 F1200
    G90